FIREBASE_API_KEY=sua_api_key_aqui
FIREBASE_AUTH_DOMAIN=capiau-streaming.firebaseapp.com
FIREBASE_PROJECT_ID=capiau-streaming
FIREBASE_STORAGE_BUCKET=capiau-streaming.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=seu_sender_id_aqui
FIREBASE_APP_ID=seu_app_id_aqui
FIREBASE_MEASUREMENT_ID=seu_measurement_id_aqui
